.jumbotron {
    text-align: center;
    color: #cfc5bc;
    /*background-image: url('https://w-dog.net/wallpapers/6/9/486879369404998/cello-music-background.jpg');*/
    /*text-shadow: 2px 4px #705345;*/
    font-family: 'Open Sans Condensed', sans-serif;
    position: sticky;
}

a {
  color: #cfc5bc;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navBar {
  text-align: center;
}

.links {
    padding: 5px 5px 5px 5px;
    font-size: 2em;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  /*background-image: url('https://w-dog.net/wallpapers/6/9/486879369404998/cello-music-background.jpg');*/
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-weight: 400;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #cfc5bc;
}
